:root {
  --primary-color: rgb(240, 240, 240);
  --primary-color-shadow: rgba(240, 240, 240, 0.9);
  --secondary-orange: rgb(213, 122, 53);
  --secondary-orange-shadow: rgba(213, 122, 53, 0.75);
  --background-card: rgba(83, 83, 83, 0.6);
}

.weather-today-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scale-up 0.4s ease-out forwards;
  width: 500px;
}

.weather-today-card {
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--background-card);
  backdrop-filter: blur(10px);
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.date-time-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 1rem;
}

.date,
.time {
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.basic-info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}

.weather-img {
  filter: drop-shadow(0 0 10px rgb(200, 200, 200, 0.5));
}

.city-description-temp-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.city-name {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1.2px;
  color: white;
  margin: 0;
  margin-bottom: 0.25rem;
}

.weather-description {
  font-weight: 500;
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color: rgb(197, 197, 197);
  margin-bottom: 0.5rem;
}

.temp-container {
  display: flex;
  align-items: start;
  color: var(--secondary-orange);
}

.temp {
  font-size: 2rem;
}

.degree {
  font-size: 1rem;
  font-weight: 300;
  margin-left: 0.25rem;
}

.weather-now-details {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-block-start: 2rem;
  flex-wrap: wrap;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 1.5rem;
  margin-bottom: 1rem;
}

.details-description {
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

.details-data {
  font-weight: 300;
  font-size: 0.75rem;
}

.details-icon {
  margin-bottom: 0.5rem;
}

@keyframes scale-up {
  0% {
    scale: 0;
  }
  80% {
    scale: 105%;
  }
  100% {
    scale: 100%;
  }
}

@media screen and (max-width: 768px) {
  .weather-today-container {
    width: 400px;
  }
  .weather-now-details{
    justify-content: space-evenly;
  }

  .details-container{
    margin-inline: 0.75rem;
  }
}
