#root {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-geo,
.loading-data {
  margin-left: 2rem;
}

.select-cities {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
  width: 200px;
}

.select-cities select {
  text-align: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--background-card);
  border: none;
  width: 75%;
}

.select-cities select:focus {
  outline: none;
}

.not-found-container {
  text-align: center;
  margin: auto;
}

.not-found-container > p:first-child {
  font-size: 4rem;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .select-cities {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .select-cities {
    margin-bottom: 1rem;
  }
}
