:root {
  --primary-color: rgb(240, 240, 240);
  --primary-color-shadow: rgba(240, 240, 240, 0.9);
  --secondary-orange: rgb(213, 122, 53);
  --secondary-orange-shadow: rgba(213, 122, 53, 0.75);
  --background-card: rgba(83, 83, 83, 0.6);
}

#root {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  justify-content: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-geo,
.loading-data {
  margin-left: 2rem;
}

.select-cities {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
  width: 200px;
}

.select-cities select {
  text-align: inherit;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--background-card);
  border: none;
  width: 75%;
}

.select-cities select:focus {
  outline: none;
}
