:root {
  font-family: "Comfortaa", cursive;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: radial-gradient(
    circle,
    rgb(190, 190, 190) 0%,
    rgb(213, 122, 53) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
}

p {
  margin: 0;
}
