#site-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-title {
  font-weight: 700;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.navbar {
  height: 75px;
  width: 750px;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.navlink-container {
  display: flex;
  gap: 0.5rem;
}

.opt-navlink {
  padding: 10px 20px;
  border-radius: 30px;
  border: 0;
  background-color: var(--primary-color-shadow);
  letter-spacing: 1.5px;
  font-size: 12px;
  transition: all 0.5s ease;
  font-weight: 500;
  color: var(--secondary-color);
  height: fit-content;
  text-align: center;
}

.opt-navlink:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  letter-spacing: 2.5px;
}

.opt-navlink.active {
  font-size: 14px;
  font-weight: 700;
  box-shadow: 2px 5px 0 0 var(--secondary-color);
}

.opt-navlink.active:hover {
  letter-spacing: 1.5px;
  background-color: var(--primary-color-shadow);
  color: var(--secondary-color);
  box-shadow: 2px 5px 0 var(--secondary-color);
}

.opt-navlink:active {
  letter-spacing: 2.5px;
  color: var(--primary-color);
  box-shadow: none;
  transform: translateY(10px);
  transition: 0.1s;
}

.location-opt {
  font-size: 9px;
}

.site-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  max-height: 640px;
  justify-content: space-evenly;
  overflow: hidden;
  width: 100%;
}



@media screen and (max-width: 1024px) {
  .site-main {
    height: fit-content;
  }
}

@media screen and (max-width: 768px) {
  #site-header{
    width: 90vw;
  }

  .site-title {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: .75rem;
  }

  .navbar {
    width: min(400px, 80vw);
    gap: 1rem;
    justify-content: space-evenly;
    height: 150px;
  }

  .navlink-container {
    flex-direction: column;
    gap: 1.25rem;
  }

  .opt-navlink {
    padding: 8px 16px;
    border-radius: 30px;
    border: 0;
    background-color: var(--primary-color-shadow);
    letter-spacing: 1.25px;
    font-size: 10px;
    transition: all 0.5s ease;
    font-weight: 500;
  }

  .opt-navlink:hover {
    background-color: var(--primary-color-shadow);
    color: var(--secondary-color);
    letter-spacing: 1.25px;
  }

  .opt-navlink.active {
    font-size: 12px;
    font-weight: 700;
    box-shadow: 2px 5px 0 0 var(--secondary-color);
  }
}
